header {
  width: 80%;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 210px;
}

header nav {
  display: flex;
  gap: 50px;
}

header nav a {
  color: black;
  text-decoration: none;
  font-size: 18px;
}